@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--created a header, subheader, inserted images and a few paragraphs about my hobby 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Welcome to Alex's Boba Reviews</h1>
    <br />

    <div>
        <img src="Boba.JPG" width="400" />
        <img src="IMG_2976.JPG" width="400" padding="200" />
    </div>
    <br />
    <br />

    <h2>Where my Obsession Started </h2>
    <br />

    <p>
        My boba obsession began in 2019 when I had my first ever milk tea drink at the
        local mall where I grew up. After the first sip, I was instantly hooked. This obsession then led to a hobby where
        I would try a new boba spot whenever I traveled to a new state.
        Trying those boba spots then led me to start reviewing each boba location I visited.
    </p>
    <p>
        From that point forward, I started a mini review channel where I review boba locations and rate them on a scale from 1 to 10.
        So whenever I'm not busy with school, I'm rating new boba spots in the Utah area. Currently I have tried a total of 20 locations in Utah alone. Since 2019 I've been to a total of 10 states and have tried Boba in each one of those states. Out of all 
        the places I tried, I think my favorite is Teamate in Orem,UT. 
    </p>
   <!--created styles for footer-->
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: beige;
            color: black;
        }
    </style>
</body>
</html>